<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head", { title: "About"}); %>

<body class="pt-4">
  <%- include("../partials/header") %>

  <main class="container-fluid">
    <div class="jumbotron">
      <h1>Sobre min</h1>
      <p>Programador</p>
    </div>
  </main>

  <%- include("../partials/footer"); %>

  <%- include("../partials/scripts"); %>
</body>
</html>